//constants of color are defined here, 
//change here will propigate to all other sass files.
//if the color is black its a temp color

$bgCol: rgb(211, 211, 211);
$fgCol: rgb(168, 168, 168);
$divCol: rgb(0, 0, 0);

//button colors
$butCol: rgb(60, 131, 169);
$butHover: rgb(9, 110, 199);
$butClick: rgb(131, 148, 216);
//red del button colors
$butWarn: rgb(226, 69, 12);
$butWarnHover: rgb(255, 82, 82); 
$butWarnClick: rgb(255, 204, 204);
//


